.footer {
	position: absolute;
	bottom: 0;
	height: 77px;
	width: 100%;
	background-color: #27273e;
	color: #ffffff;
	padding: 12px 0;
	font-size: 0px;}
.footer__left, .footer__middle, .footer__right {
	display: inline-block;
	width: 33.3%;
	vertical-align: middle;
	position: relative;}
.footer__left {
	font-size: 14px;}
.loftschool a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #5d5d6e;}
.author a {
	color: #ffffff;
	text-decoration: none;}
.loftschool a:hover, .author a:hover {
	opacity: 0.7;}
.footer__middle {
	text-align: center;}
.footer__logo img:hover {
	opacity: 0.7;}
.footer__right {
	font-size: 14px;}
.social {
	float: right;}
.social__header {
	text-align: right;
	font-size: 14px;
	font-weight: bold;}
.social__list {
	font-size: 0;}
.social__item {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 8px;
	margin-right: 10px;
	background: url(../../img/icons/social-sprite.png) no-repeat;}
.social__item-1 {
	background-position: 0px -30px;}
.social__item-1:hover {
	background-position: 0px 0px;}
.social__item-2 {
	background-position: -30px -30px;}
.social__item-2:hover {
	background-position: -30px 0px;}
.social__item-3 {
	background-position: -60px -30px;}
.social__item-3:hover {
	background-position: -60px 0px;}
.social__item-4 {
	background-position: -90px -30px;}
.social__item-4:hover {
	background-position: -90px 0px;}
.social__item-5 {
	background-position: -120px -30px;}
.social__item-5:hover {
	background-position: -120px 0px;}